{
	email {$ACME_EMAIL}
}

{$PUBLIC_HOST} {
	encode gzip zstd
	reverse_proxy frontend:3100 {
		header_up Host {host}
		header_up X-Forwarded-For {remote_host}
		header_up X-Forwarded-Proto {scheme}
		header_up X-Forwarded-Host {host}
	}
}
